# 1 Importownie bibliotek

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

# 2 Importowanie pliku w PANDAS

## Jest kilka sposobów, najprostszy jest gdy mamy *.CSV:

df1=pd.read_csv('ks-projects-201801.csv')

df2=pd.read_csv('./course-files/ks-projects-201801.csv')

**Uwagi:**
    1. plik ks-projects-201801.csv w **DF2** ma podaną ściężkę jak widać spoza lokalizacji ROOTa ./jupitera, w zwkiązku z tym jest "./"
    2. można w jupiterze używać TABa po "./"
    3. w przypadku **DF1** gdy mamy notebook w tej samej lokalizacji co plik to nie musimy używać "./"
    
 **Pandas obsuguje inne pliki, takie jak np:**
    1. excel
    2. html
    3. jason
    4. schowek
 Wszystko jest pod tabulatorem po .read_

## Import poszczególnych kolumn na przykładzie *.CSV

df1=pd.read_csv('ks-projects-201801.csv',usecols=['usd pledged','usd_pledged_real'])

In [2]:
df1=pd.read_csv('ks-projects-201801.csv',usecols=['usd pledged','usd_pledged_real'])
#.head() wyświetla 5 krotek - jeśli będzie parametr (10) to będzie 10 krotek
print(df1.head())
print('\n')
#.tail() wyświetla 5 krotek - jeśli będzie parametr (10) to będzie 10 krotek
print(df1.tail())

   usd pledged  usd_pledged_real
0          0.0               0.0
1        100.0            2421.0
2        220.0             220.0
3          1.0               1.0
4       1283.0            1283.0


        usd pledged  usd_pledged_real
378656         25.0              25.0
378657        155.0             155.0
378658         20.0              20.0
378659        200.0             200.0
378660        524.0             524.0

In [3]:
df1=pd.read_csv('ks-projects-201801.csv',usecols=['usd pledged','usd_pledged_real'])
df1.head()

   usd pledged  usd_pledged_real
0          0.0               0.0
1        100.0            2421.0
2        220.0             220.0
3          1.0               1.0
4       1283.0            1283.0

## 2.1 Inne sposoby importu plików:
import csv

**konstrukcja *with* pozwala na otworzenie pliku i korzystanie z niego wewnątrz niej, po jej opuszczeniu automatycznie zamknie strumień odczytu**

with open('plik.csv', 'r') as csvfile:

**deklarujemy nasz *czytacz* parametr *delimiter* jest opcjonalny i wskazuje jaki został w pliku użyty separator**

csvreader = csv.reader(csvfile, delimiter=',')

**pojawia się nowy paramet encoding ustawiony na utf-8**

with open('plik.csv', 'r', encoding='utf-8') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

## 2.2 Indeksowanie Serii/DataFrame

1. Gdy zaimportujemy domyślnie nasz plik, indeksem staje się domyślnie utworzona kolumna. Widać to poniżej:

In [5]:
df1=pd.read_csv('ks-projects-201801.csv')
df1.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [ ]:
2. Można to zmienić gdy przypiszemy indeks parametrem **index_col**, podczas importu pliku. Poniżej przykład z df2

In [6]:
df2=pd.read_csv('ks-projects-201801.csv', index_col='ID')
df2.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

## 2.3 Filtrowanie Serii/DataFrame
1. Przypisujemy kolumnę do zmiennej np o nazwie zmiennej kolumny **usd_pledged_real**, z już zaimportowanego pliku do zmiennej **df1**

In [7]:
usd_pledged_real=df1['usd_pledged_real']
print(usd_pledged_real.head())

0       0.0
1    2421.0
2     220.0
3       1.0
4    1283.0
Name: usd_pledged_real, dtype: float64

2. Zgodnie z good pactices nazywamy w nazwie zmiennej słowa filtr i przypisujmey do niej już samą kolumnę, następnie **==** wpisujemy wartość jaka nas interesuje

In [36]:
df1Filter100 = usd_pledged_real == 100
print(df1Filter100.head())

0    False
1    False
2    False
3    False
4    False
Name: usd_pledged_real, dtype: bool

3. wynik zwraca zawsze wartości boolowe
4. No i wreszcie chcemy wyświetlić wszystkie wartości z df1, które w kolumnie **usd_pledged_real** mają wartość **100**, dodatkowo usuwamy puste krotki poprzez dodanie **.dropna**

In [37]:
print(df1.where(df1Filter100).dropna().head(10))

      usd pledged  usd_pledged_real
278         100.0             100.0
333         100.0             100.0
395         100.0             100.0
699         100.0             100.0
831         100.0             100.0
909         100.0             100.0
1112        100.0             100.0
1297        100.0             100.0
1516        100.0             100.0
1530        100.0             100.0

5. Można oczywiście łączyć kilka filtrów za pomocą operatora **&**

**UWAGA** Najprawdopodobniej jest to filtrowanie warunkowe, a w przypadku łączenia filtrów oba warunki muszą być spełnione

In [38]:
df1FilterMore100 = usd_pledged_real >= 100

print(df1.where(df1Filter100 & df1FilterMore100).dropna())

        usd pledged  usd_pledged_real
278           100.0             100.0
333           100.0             100.0
395           100.0             100.0
699           100.0             100.0
831           100.0             100.0
...             ...               ...
377900        100.0             100.0
378043        100.0             100.0
378093          0.0             100.0
378461        100.0             100.0
378640        100.0             100.0

[2437 rows x 2 columns]

## 2.4 Czyszczenie danych

1. Można poczyścić dane z warości NULL, dzięki metodzie **.dropna**, parametr **inplace=True** informuje o zapisaniu zmian do df1!

In [8]:
df1.dropna(inplace=True)

## 2.5 Zapisywanie plików

# 3 Seria a DataFrame

## 3.1 Seria

### 3.1.2 Atrybuty

1. .size - rozmiar
2. .nbytes - ilość bytów
3. .is_unique - czy unikalne
4. .is_monotonic - monotoniczne lub posortowane
5. .index - budowa indexu
6. .values - jakie wartości
7. .dtype - jakie typ warotści
8. .shape - kształt
9. .axes - współrzędne

### 3.1.3 Metody

1. .sum()
2. .min()
3. .max()
4. .count()
5. .size
6. .product - wymnarza wszystko przez siebie i zwraca wynik
6. .keys()
7. .get_values
8. .tolist() - przekształcenie SERIES do Listy!!!
9. .add(10) - dodanie 10 do każdego elementu Series
10. .reindex() - szukanie w liście
11. .str.upper() - na duże litery
12. .map() - mapowanie serii lub słownika
13. .len - długość
14. .get_dtype_counts() - zlicza ilość kolumn danego typu
15. .values_counts() - ile jest poszczególnych wartości
16. .sample() - losowanie kilku wartości
17. .copy() - kopiowanie rammki danych

## 3.2 DataFrame

### 3.2.2 Atrybuty

1. .size - rozmiar
2. .nbytes - ilość bytów
3. .is_unique - czy unikalne
4. .is_monotonic - monotoniczne lub posortowane
5. .index - budowa indexu
6. .values - jakie wartości
7. .dtype - jakie typ warotści
8. .shape - kształt
9. .axes - współrzędne
10. .dtypes - jakie typ warotści
11. .shape - ile jest wierszy i ile jest kolumn
12. .columns - zwraca nazwy kolumny

### 3.2.3 Metody

1. .str.endswith('xxx') - spradza czy kończy się xxx
2. .str.strip() - ucina na początku i końću białe znaki w tym spacje
3. .str.split(' ') - potnie po spacji
4. .str.split(' ',expand=True) - potnie po spacji i podzieli na kolumny
5. .str.split(' ',expand=True, n=10) - potnie po spacji i podzieli na kolumny to na 10 kolumn po każdej spacji
6. .sum()
7. .min()
8. .max()
9. .count()
10. .size
11. .product - wymnarza wszystko przez siebie i zwraca wynik
12. .keys()
13. .get_values
14. .tolist() - przekształcenie SERIES do Listy!!!
15. .add(10) - dodanie 10 do każdego elementu Series
16. .reindex() - szukanie w liście
17. .str.upper() - na duże litery
18. .map() - mapowanie serii lub słownika
19. .len - długość
20. .get_dtype_counts() - zlicza ilość kolumn danego typu
21. .info() - ile wartości w kolumnach i jakego typu
22. .values_counts() - ile jest poszczególnych wartości trzeba określić jednak kolumnę
23. .sample() - losowanie kilku wartości
24. .nlargest() - największe wartości dla (1,'nazwa kolumny')
25. .rename - zmiana nazwy kolumny .rename({'SupplierID':'CustomerID'},axis='columns',inplace=True)
26. .set_index - ustawiamy index
27. .groupby(by=[kolumny]) - budowa multiindexu
28. .get_group((val1,val2)) - wydobywanie grupy z multiindexu
29. .agg()
30. groups.agg({'Revenue':['sum','min','max'],
           'Quantity':'sum',
           'Gross margin':'mean'}).head()
31. my_aggregation = ['sum','min','max']
32. groups.agg({'Revenue':my_aggregation,
           'Quantity':my_aggregation,
           'Gross margin':'mean'}).head()